#mainWindow{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.ui.form{
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
}

.content{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

#adventureTextDiv{
    min-height: 200px;
}